body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #3a1c71, #d76d77, #ffaf7b);
    margin: 0;
    font-family: Arial, sans-serif;
}

.todo-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 700px;
}

h1 {
    color: white;
}

.input-container {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 500px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.complete {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    background: #ff4b5c;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

.todo{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0px 5px;
    border-radius: 10px;
    margin: 5px 0;
    color: purple;
    align-items: center;
}

.todo h4:first-child {
    padding-left:10px;
    margin-right: auto;
}

.todo h4:nth-child(2){
    margin-left: 15px;
}

.todo h3{
    padding-right: 10px;
    padding-left: 15px;
    font-size: 1.3em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
}